<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538004752638-3u8jtp1vbn365okom71c1jflj2l6nfg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538004752638-3u8jtp1vbn365okom71c1jflj2l6nfg5</string>
	<key>API_KEY</key>
	<string>AIzaSyBbtOy9s8n4yml7f5QnOt-L8wiF6_mBweE</string>
	<key>GCM_SENDER_ID</key>
	<string>538004752638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counter.counterApp</string>
	<key>PROJECT_ID</key>
	<string>counter-demo-7dbf3</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-demo-7dbf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538004752638:ios:8434e6f1a6072a8500fdaf</string>
</dict>
</plist>